@font-face {
  font-family: "FiraExtraBoldItalic";
  src:
    url("../fonts/FiraSans-ExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "FiraRegular";
  src:
    url("../fonts/FiraSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}